{% extends 'base.html' %}

{% block content %}

    <a href="/users/sign-up" class="pull-right">sign up</a>

    {% if form.errors %}
        <p class="error">Wrong!</p>
    {% endif %}

    <form action="/users/authenticate/" method="post">{% csrf_token %}
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username" />
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password" />

        <input type="submit" value="sign in" class="btn btn-sm btn-primary" />
    </form>


{% endblock %}

