{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/vendor/handlebars-v1.1.2.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/ember.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/ember-data.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/tastypie_serializer.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/tastypie_adapter.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/emberduck.js' %}" type="text/javascript"></script>
{% endblock %}

{% verbatim %}
    <script type="text/x-handlebars">
        <h1>The Emberduck</h1>
        {{outlet}}
    </script>
{% endverbatim %}
