{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/vendor/handlebars-v1.1.2.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/ember.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/ember-data.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/tastypie_serializer.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/tastypie_adapter.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/emberduck.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% verbatim %}
        <script type="text/x-handlebars">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                            Toggle nav
                        </button>
                   </p>
                    <div class="jumbotron">
                        <h1>Emberduck</h1>
                        <p>{{outlet}}</p>
                    </div>
                </div> 
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                    </div>
                </div>
            </div>
        </script>
    {% endverbatim %}
{% endblock %}